#student-form, #teacher-form {
  border: 2px solid black;
  width: fit-content;
  padding: 10px;
  margin: 20px 10px;
  border-radius: 10px;
  color: white;
  background-color: black;
  font-weight: bold;
}

#filter{
  margin: 30px 5% 30px 30%;
}

#edit{
  margin: 30px 10% 30px 10%;
}

h1{
  margin: 20px 10px 10px 10px;
}
label{
  margin: 10px
}

button{
  margin: 10px;
}

button:hover{
  font-weight: bold;
}
